<div>
    <a asp-action="ExportExcel"><input id="exportbtn" type="button" class="e-info">Export</input></a>
    <form asp-action="ImportExcel" enctype="multipart/form-data">
        <div class="form-group">
            <input type="file" name="file" />
            <input id="importbtn" type="submit" class="e-success" >Import</input>
        </div>
    </form>
</div>
